#footer {
    position: relative;
    display: flex;
    height: 10rem;
    background-color: #fff;
    align-items: center;
}

.logo {
    width: 14.125rem;
    height: 4.375rem;
    background-image: url(../img/logo.svg);
    background-size: 100% 100%;
    margin-left: 20rem;
    cursor: pointer;
}

.wrap {
    position: absolute;
    display: flex;
    width: 14.25rem;
    height: 2.625rem;
    justify-content: space-between;
    right: 20rem;
}

.blog,
.insta,
.facebook,
.youtube {
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 50%;
    background-color: #F29D52;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
    cursor: pointer;
}

.blog {
    background-image: url(../img/blog.svg);
}

.insta {
    background-image: url(../img/instagram.svg);
}

.facebook {
    background-image: url(../img/facebook.svg);
}

.youtube {
    background-image: url(../img/youtube.svg);
}

/**Tablet 768X481**/
@media all and (max-width: 769px){
    .logo {
        margin-left: 10rem;
    }

    .wrap {
        right: 10rem;
    }
}

/**Mobile L 425X481**/
@media all and (max-width: 426px){
    #footer {
        position: relative;
        width: 100vw;
        height: 23.733rem;
        background-color: palegreen;
    }
    
    .logo {
        position: absolute;
        width: 14.933rem;
        height: 4.533rem;
        margin: 0;
        top: 0;
        left: 0;
    }
    
    .wrap {
        display: flex;
        width: 23.467rem;
        height: 4.267rem;
        justify-content: space-between;
        margin: 0;
        left: 0;
        bottom: 0;
    }
    
    .blog,
    .insta,
    .facebook,
    .youtube {
        width: 4.267rem;
        height: 4.267rem;
    }
}