#menu {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    overflow: hidden;
}

.show {
    position: absolute;
    width: 38.533rem;
    height: 100%;
    background-color: #263140;
    transition: 1s;
    right: 0;
}

.hide {
    position: absolute;
    width: 38.533rem;
    height: 100%;
    background-color: #263140;
    transition: 1s;
    right: -38.533rem;
}

.arrow {
    width: 4.267rem;
    height: 4.267rem;
    background-color: #D97652;
    margin-top: 2.933rem;
    margin-left: 2.667rem;
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
    height: 28rem;
    justify-content: space-between;
    margin-top: 8.8rem;
    margin-left: 6.667rem;
}

.home,
.about,
.support {
    font-size: 2.133rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.btn {
    width: 15.867rem;
    height: 5.333rem;
    background-color: #D97652;
    border: none;
    border-radius: 40px;
    font-weight: 400;
    font-size: 1.867rem;
    color: #fff;
    margin-top: 2.667rem;
    cursor: pointer;
}