#second {
    height: 184.25rem;
    background-color: paleturquoise;
}

.one {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.oneImg {
    width: 41.25rem;
    height: 24.375rem;
    background-color: pink;
    background-image: url('../img/img_4.png');
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px #00000040;
}

.oneWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31.875rem;
    height: 12.813rem;
    line-height: 2.817rem;
    margin-left: 6.875rem;
}

.textDetail {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.252rem;
}

.text {
    font-size: 2.25rem;
    font-weight: 700;
}

.two {
    margin-top: 7.5rem;
    text-align: center;
}

.textTwo {
    font-size: 3rem;
    font-weight: 700;
    color: #D97652;
    margin-bottom: 2.5rem;
}

.textTwoDetail {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.252rem;
}

.colorOrange {
    font-weight: 700;
    color: #D97652;
}