#subscribe {
    position: absolute;
    display: flex;
    width: 80rem;
    height: 12.5rem;
    background-color: #263140;
    align-items: center;
    border-radius: 30px;
    top: 145.5rem;
    left: 16.66666666667%;
    z-index: 990;
}

#modal {
    position: absolute;
    width: 37.5rem;
    height: 25rem;
    border-radius: 30px;
    background-image: url(../img/modal-bg-img.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 142.5rem;
    left: 41.25rem;
    z-index: 10;
    box-shadow: 10px 10px 30px 0px #00000040;
}

.showSub {
    display: block;
}

.hideSub {
    display: none;
}

.showModal {
    display: block;
}

.hideModal {
    display: none;
}

.subCont {
    display: flex;
    align-items: center;
}

.textWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30.688rem;
    height: 6.25rem;
    margin-left: 3.625rem;
    margin-right: 8.938rem;
}

.title {
    font-size: 2.25rem;
    font-weight: 700;
    color: #fff;
}

.text {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.096rem;
    color: #F2E9D8;
}

.searchBar {
    position: relative;
    display: flex;
    align-items: center;
    width: 33.125rem;
    height: 3.75rem;
    background-color: #fff;
    border-radius: 60px;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../img/mail.svg);
    background-size: 100% 100%;
    margin-left: 1.75rem;
    margin-right: 1rem;
}

.input {
    width: 12rem;
    height: 1.25rem;
    font-size: 1rem;
    font-weight: 400;
    color: #767676;
    border: none;
}

.btn {
    position: absolute;
    width: 8.5rem;
    height: 3.125rem;
    border: none;
    border-radius: 40px;
    background-color: #D97652;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    right: 0.313rem;
    cursor: pointer;
}

.modalCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalImg {
    width: 6.875rem;
    height: 7rem;
    background-image: url(../img/cat-subscribe.png);
    background-size: 100% 100%;
    margin-top: 3.75rem;
}

.modalTextWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.modalTitle {
    font-size: 2.25rem;
    font-weight: 700;
    color: #D97652;
    margin-bottom: 0.75rem;
}

.modalText {
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    color: #000;
    margin-bottom: 2.375rem;
}

.modalBtn {
    width: 11.813rem;
    height: 3.125rem;
    border: none;
    border-radius: 40px;
    background-color: #D97652;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

/**Tablet 768X481**/
@media all and (max-width: 769px){
    #subscribe {
        left: 10.66666666667%;
    }

    .text {
        line-height: 1.15rem;
    }
}

/**Mobile L 425X481**/
@media all and (max-width: 426px){
    #subscribe {
        position: absolute;
        flex-direction: column;
        width: 43.467rem;
        height: 46.4rem;
        left: 4.267rem;
        top: 278.133rem;
    }

    #modal {
        position: absolute;
        width: 40rem;
        height: 40rem;
        background-color: #F2E9D8;
        border-radius: 40px;
        background-image: url(../img/modal-bg-img.png);
        background-size: 100% 60%;
        background-repeat: no-repeat;
        top: 281.333rem;
        left: 6rem;
        z-index: 10;
        box-shadow: 10px 10px 30px 0px #00000040;
    }

    .subCont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .textWrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 34.933rem;
        height: 20.267rem;
        margin: 0 auto;
        margin-top: 4.8rem;
    }
    
    .title {
        width: 25.867rem;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 4.007rem;
        color: #fff;
    }
    
    .text {
        font-size: 1.867rem;
        line-height: 2.337rem;
    }
    
    .searchBar {
        width: 34.933rem;
        height: 5.333rem;
        margin-top: 4rem;
    }
    
    .icon {
        width: 2.4rem;
        height: 2.4rem;
    }
    
    .input {
        width: 19.2rem;
        height: 2.133rem;
        font-size: 1.6rem;
    }
    
    .btn {
        width: 15.6rem;
        height: 5.333rem;
        font-size: 1.867rem;
        bottom: -8rem;
    }

    .modalCont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modalImg {
        width: 8rem;
        height: 8.267rem;
        background-image: url(../img/cat-subscribe.png);
        background-size: 100% 100%;
        margin-top: 5.333rem;
    }

    .modalTextWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3.2rem;
    }

    .modalTitle {
        font-size: 3.2rem;
        font-weight: 700;
        color: #D97652;
        margin-bottom: 1.333rem;
    }

    .modalText {
        font-size: 1.867rem;
        font-weight: 400;
        line-height: 2.337rem;
        text-align: center;
        color: #000;
        margin-bottom: 3.733rem;
    }

    .mobile {
        display: block;
    }

    .modalBtn {
        width: 21.733rem;
        height: 5.333rem;
        border: none;
        border-radius: 40px;
        background-color: #D97652;
        font-size: 1.867rem;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
    }
}