#three {
    position: relative;
}

.threeImg {
    position: absolute;
    width: 100vw;
    height: 56.25rem;
    background-image: url('../img/img_5.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.imgCover {
    width: 100vw;
    height: 56.25rem;
    background-color: #F2E9D899;
    opacity: 0.6;
}