#three {
    position: relative;
}

.wrap {
    position: relative;
    height: 56.25rem;
}

.threeImg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/img_5.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.imgCover {
    width: 100%;
    height: 100%;
    background-color: #F2E9D899;
    opacity: 0.6;
}

.topBtn {
    position: absolute;
    width: 3.125rem;
    height: 3.125rem;
    background-image: url(../img/top-btn.svg);
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    right: 1.5rem;
    bottom: 1.5rem;
    border: 1px solid #C4C4C4;
    cursor: pointer;
    z-index: 990;
}

.topBtn:hover {
    background-image: url(../img/top-btn-hover.svg);
}